
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
}

header {
    background-color: #3ba6ec;
    padding: 20px ;
}

header h1 {
    font-size: 32px;
    color: #222;
}

main {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color:  #3ba6ec;
}

.heroes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}
    .layla:hover {

    transform: scale(1.05);
}
.aldous:hover {

    transform: scale(1.05);
}
.lancelot:hover {

    transform: scale(1.05);
}
.layla {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
  transition: transform scale(1.05);

}

.layla img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.layla h3 {
    font-size: 20px;
    margin-top: 10px;
}

.layla p {
    font-size: 14px;
    color: #ddd;
}
.aldous {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.aldous img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.aldous h3 {
    font-size: 20px;
    margin-top: 10px;
}

.aldous p {
    font-size: 14px;
    color: #ddd;
}
.lancelot {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.lancelot img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.lancelot h3 {
    font-size: 20px;
    margin-top: 10px;
}

.lancelot p {
    font-size: 14px;
    color: #ddd;
}

footer {
    background-color: #333;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
}
